@using HRPortal.Web.App_LocalResources;

<div class="maindiv">
    <div>
        <p>
            @DataRU.ConfirmationSuccessful@Html.ActionLink(DataRU.ClickToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
